*{
    margin: 0px;
    padding: 0px;
    font-family: Sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.header1 div{
    font-size: 50px;
    padding-left: 20px;
}

.header1 p{
    font-size: large;
    padding-left: 25px;
    font-weight: bolder;
    color: rgb(86, 86, 187);
}

.header2 p{
    margin-top: 45px;
    font-size: 30px;
}

.header3 button{
    margin: 25px 25px 0px 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(86, 86, 187);
    font-weight: bolder;
    border-color: rgb(86, 86, 187);
}

.header3 button:hover{
    color: white;
    background-color: rgb(86, 86, 187);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.leftNav input{
    border-radius: 25px;
    height: 30px;
    width: 300px;
    text-align: center;
    background-color: rgb(229, 229, 251);
    margin-right: 40px;
    border: 2px solid black;
}

.leftNav select{
    border-radius: 25px;
    height: 30px;
    width: 200px;
    background-color: rgb(229, 229, 251);
    border: 2px solid black;
    text-align: center;
}

.leftNav img{
    width: 20px;
    position: relative;
    left: 40px;
    top: 5px;
}
.rightNav button{
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    color: rgb(86, 86, 187);
    font-weight: bolder;
    border-color: rgb(86, 86, 187);
    margin: 0px 25px 0px 0px;
}

.rightNav button:hover{
    background-color: rgb(86, 86, 187);
    color: white;
}

/* Section-1 */

.sec1{
    display: flex;
    padding-top: 20px;
}

.categories{
    width: 50%;
    padding-left: 20px;
}

.categoriesM{
    margin-bottom: 20px;
}

.categoriesM:hover{
    background-color: white;
    border: 3px solid rgb(86, 86, 187);
    h2{
        background-color: rgb(86, 86, 187);
        color: white;
    }
}

.categories h2{
    font-size: 30px;
    position: relative;
    padding-left: 30px;
}

.categoriesCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content:hover{
    background-color: rgb(229, 229, 251);
    .serviceName div{
        background-color: rgb(86, 86, 187);
        color: white;
        border: 3px solid black;
    }
}

.categoriesCards content{
    width: 20px;
}

.content{
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.content img{
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.img{
    display: flex;
    justify-content: center;
}

.serviceName{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 10px 0px 3px 0px;
}



.serviceName div{
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.serviceName div:hover{
    background-color: rgb(86, 86, 187);
    color: white;
}

.rating{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.rating span{
    font-size: 50px;
}
.rating1{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(229, 229, 251);
    height: 50px;
}

.rating2{
    background-color: rgb(86, 86, 187);
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custRating{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}


/* catImg css */

.catImg{
    width: 50%;
}