*{
    margin: 0px;
    padding: 0px;
    font-family: Sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.header1 div{
    font-size: 50px;
    padding-left: 20px;
}

.header1 p{
    font-size: large;
    padding-left: 25px;
    font-weight: bolder;
    color: rgb(86, 86, 187);
}

.header2 p{
    margin-top: 45px;
    font-size: 30px;
}

.header3 button{
    margin: 25px 25px 0px 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(86, 86, 187);
    font-weight: bolder;
    border-color: rgb(86, 86, 187);
}

.header3 button:hover{
    color: white;
    background-color: rgb(86, 86, 187);
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.leftNav input{
    border-radius: 25px;
    height: 30px;
    width: 300px;
    text-align: center;
    background-color: rgb(229, 229, 251);
    margin-right: 40px;
    border: 2px solid black;
}

.leftNav select{
    border-radius: 25px;
    height: 30px;
    width: 200px;
    background-color: rgb(229, 229, 251);
    border: 2px solid black;
    text-align: center;
}

.leftNav img{
    width: 20px;
    position: relative;
    left: 40px;
    top: 5px;
}
.rightNav button{
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    color: rgb(86, 86, 187);
    font-weight: bolder;
    border-color: rgb(86, 86, 187);
    margin: 0px 25px 0px 0px;
}

.rightNav button:hover{
    background-color: rgb(86, 86, 187);
    color: white;
}

/* Section-1 */

.sec1{
    display: flex;
    padding-top: 40px;
}

.categories{
    width: 50%;
    padding-left: 20px;
}

.categoriesM{
    margin-bottom: 20px;
}

.categories h2{
    font-size: 30px;
}

.categoriesCards{
    display: flex;
    padding-top: 20px;
}

.categoriesCards content{
    width: 20px;
}

.content{
    width: 30%;
}
.content img{
    width: 40%;
    border-radius: 50%;
}


/* catImg css */

.catImg{
    width: 50%;
}